version: '3.8'
services:
db:
image: mysql:8.0
restart: unless-stopped
environment:
MYSQL_ROOT_PASSWORD: rootpass
MYSQL_DATABASE: hospital_db
volumes:
- db_data:/var/lib/mysql
- ./backend/db_init.sql:/docker-entrypoint-initdb.d/db_init.sql:ro
ports:
- '3306:3306'


api:
build: ./backend
image: prms-backend:latest
restart: unless-stopped
environment:
DB_HOST: db
DB_USER: root
DB_PASS: rootpass
DB_NAME: hospital_db
PORT: 3000
ports:
- '3000:3000'
depends_on:
- db


volumes:
db_data:
